.float-left {
  float:left
}

/* Start search block */
div.arts-dropdown .search-label {
	font-size: 14px;
	font-family: "Droid Sans";
	font-weight: bold;
	color: #214f80;
	text-shadow: none; 
}

div.arts-dropdown div#arts-dropdown-site-search form input[name="search_block_form"] {
	margin-left: 10px;
}
/* end search block */

/* Start right hand side bar */
/* More detail, apply as priority */
.wrapper > .col-2.rightside{
	padding: 40px 0 0 ;	
}

/* Start style for quick links on home page*/
.sidebar-right #block-views-news-block-quick-links {
	background: #d4e5f7;
	padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;

	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.sidebar-right #block-views-news-block-quick-links h2 {
	/* Somehow I need to reset here, due to padding-left: 5px above */
	padding-left: 0;
}

/* End style for quick links on home page */

/* Start style for announcements on home page */
.sidebar-right #block-views-news-block-home-news {
  background: #d4e5f7;
	padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;

	/* http://jonraasch.com/blog/css-rounded-corners-in-all-browsers */
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.sidebar-right #block-views-news-block-home-news h2 {
  /* Somehow I need to reset here, due to padding-left: 5px above */
  padding-left: 0;
}

.sidebar-right #block-views-news-block-home-news .post-date {
	font-size: 75%;
	color: #43505f;
}
/* End style for announcements on home page */

/* End right hand side bar */

/* No border on the shoutbox form. */
#shoutbox-add-form form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}


#shoutbox-add-form fieldset {
	background-color: #E9EEF3;
}

#shoutbox-body table tbody tr.odd,
#shoutbox-body table tbody tr.even,
#shoutbox-body table tbody tr:nth-child(2n+1),
#shoutbox-body table tbody tr:nth-child(2n) {
  background: transparent;
}

/* Shoutbox content spacing. */
#shoutbox-body table td {
  padding: 0;
}

#shoutbox-body .shoutbox-shout p {
  display: block;

  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

#edit-field-shared-type-of-information-wrapper,
#edit-field-shared-portfolio-wrapper,
#edit-field-shared-staff-services-wrapper,
#edit-field-shared-unit-or-school-wrapper,
.views-exposed-widget.views-submit-button {
  clear: both;
  margin-left: 250px;
}

#edit-field-shared-type-of-information-wrapper {
  margin-top: -60px;
}

.field-name-body {
  margin-bottom: 2em;
}

.field-type-taxonomy-term-reference,
.field-type-taxonomy-term-reference .field-items,
.field-type-taxonomy-term-reference .field-items .field-item {
  color: #999;
  display: inline;
  float: left;
  font-style: italic;
  margin-right: 0.5em;
}

/* Fixup display of staff search. */
#views-exposed-form-university-staff-page .views-exposed-widget.views-submit-button {
  clear: none;
  margin-left: 0;
}

#views-exposed-form-university-staff-page .views-exposed-widget .form-item-attribute-name {
  display: none;
}

/* Start research cluster grant form */
.researcher-cluster-fieldset span {
	/* Simulate h3 */
	font-size: 18px;
	font-family: "Droid Sans",sans-serif;
	color: #003366;
	font-weight: bold;	
}
/* End research cluster grant form */
